<h2>Dictée à trous</h2>

<!--<editor apiKey=""-->
<!--        [init]="configuration"-->
<!--        (onChange)="onEditorChange($event)"-->
<!--        #tinymce></editor>-->

<div class="selected-words">
  <h3>Mots sélectionnés</h3>
  <mat-chip-set>
    <mat-chip *ngFor="let word of words">{{ word }}</mat-chip>
  </mat-chip-set>
</div>

<h3>To be exported</h3>
<button (click)="exportPdf()">Export</button>
<div class="preview" #preview style="width: 100%">
  <div class="words" style="width: 100%">
    <span *ngFor="let word of words" class="word">{{ word }}</span>
  </div>

  <div class="text" style="width: 100%" [innerHTML]="currentDictation"></div>
</div>
